.wrapper{
    background: url('/src/img/scale_1200 1.jpg') center center/cover no-repeat ;
    height: 100vh;
    display: flex;
}

.wrap{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 100%;
    margin: 20px;

}
.qr{
    margin-top: 73vh;
    color: white;
    display: flex;
    align-items: center;
}
.text{
    width: 200px;
    text-transform: uppercase;
    text-align: right;
    margin-right: 15px;

}
.button{
    padding: 10px 30px;
    font-size: 17px;
    font-weight: bold;
}
.changeColorButton{
    background-color: black;
    color: white;
}
